<p id="notice"><%= notice %></p>

<p>
  <strong>Pid13:</strong>
  <%= @death.pid13 %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @death.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @death.age %>
</p>

<p>
  <strong>D date:</strong>
  <%= @death.d_date %>
</p>

<p>
  <strong>D cod:</strong>
  <%= @death.d_cod %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @death.cod %>
</p>

<%= link_to 'Edit', edit_death_path(@death) %> |
<%= link_to 'Back', deaths_path %>
