<!-- Death form partials -->

<!-- General Info. -->
<%= render "general/pid13" %>
<%= render "general/sex" %>
<%= render "general/age" %>
<%= render "general/dead_date" %>


<!-- Select death_type -->
<%= render "general/death_type" %>

<!-- Show result in modal -->
<%= render "general/modal" %>

</div>



